<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{LABEL_PREFIX_XML}}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>{{SCRIPTS_DIR_XML}}/{{LABEL_PREFIX_XML}}.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>{{INTERVAL_SEC}}</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{HOME_XML}}/Library/Logs/{{LABEL_PREFIX_XML}}.log</string>
    <key>StandardErrorPath</key>
    <string>{{HOME_XML}}/Library/Logs/{{LABEL_PREFIX_XML}}-error.log</string>
</dict>
</plist>
